html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-image: linear-gradient(180deg, white 40%, black 80%);
}

section {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease,
    transform 1.5s ease; /* Ajuste a duração e o tipo de transição conforme necessário */
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

.navegation {
  width: 100%;
  z-index: 10; /* Garante que a navegação fique acima de outros elementos */
}

header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: right;
  padding: 20px;
  background-color: black;
  width: 100%;
}

.logo img {
  width: 180px;
  height: 110px;
  padding: 0px;
  margin-bottom: 10px;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0px;
  margin: 0;
  padding: 40px;
}

header nav ul li a {
  margin-left: 0;
  margin-right: 60px;
  text-decoration: none;
  color: white;
  border: #f0f0f0 2px solid;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 15px;
  transition: border-bottom 0.2s;
}

header nav ul li a:hover {
  background-color: white;
  color: black;
}

h4 {
  font-size: 16px;
}

.introducao {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.projects {
  text-align: center;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  padding: 40px;
}
.top-section h1:hover {
  font-size: 54px;
  transition: font-size 1s ease;
}

.fa-brands.fa-whatsapp,
.fa-brands.fa-linkedin,
.fa-brands.fa-instagram,
.fa-brands.fa-github {
  font-size: 35px;
  transition: color 0.3s ease;
  text-align: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

.icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.fa-solid .fa-laptop-code,
.fa-solid .fa-computer,
.fa-jelly .fa-regular .fa-database {
  font-size: 100px;
  transition: color 0.3s ease;
  text-align: center;
  align-items: center;
}

.botao-curriculo {
  display: inline-block;
  margin-top: 70px;
  margin-left: 0px;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.botao-curriculo:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}
.fa-brands.fa-whatsapp:hover {
  color: #25d366;
}
.fa-brands.fa-linkedin:hover {
  color: #0077b5;
}
.fa-brands.fa-instagram:hover {
  color: #e1306c;
}
.fa-brands.fa-github:hover {
  color: #6b6a6a;
}
.introducao h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.introducao h3 {
  font-size: 24px;
  margin-bottom: 50px;
  color: #555555;
}

.introducao p {
  line-height: 1.6;
  max-width: 800px;
}

.info-pessoal p {
  font-size: 15px;
}

.foto-perfil {
  width: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}

.sobre-mim {
  text-align: center;
  align-items: center;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  padding: 90px;
  border-radius: 10px;
}

.sobre-mim p {
  margin-top: 50px;
  font-size: 20px;
}
.sobre-mim h2 {
  margin-top: 80px;
  margin-bottom: 90px;
  font-size: 40px;
}

.sobre-mim h3 {
  margin-bottom: 100px;
  font-size: 25px;
  color: #333333;
}

.texto-e-imagem {
  display: flex;
  align-items: left;
  gap: 100px;
  margin-bottom: 50px;
  font-size: 20px;
}

.texto {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
}

.texto p {
  text-align: justify;
  line-height: 1.6;
  max-width: 600px;
  margin-top: 10px;
  opacity: 0.6;
}
.texto h5 {
  font-size: 20px;
  margin-top: 30px;
  text-align: left;
}

.foto-sobremim {
  width: 500px;
  height: 700px;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img_curso {
  width: 300px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.imagens-experiencia {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.img1,
.img2,
.img3 {
  width: 200px;
  height: 170px;
  margin-top: 20px;
  border-radius: 8px;
  border-bottom: black 4px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  font-size: 15px;
}

.img1 ul li,
.img2 ul li,
.img3 ul li {
  list-style: disc;
  text-align: left;
}
.box-img {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.skills h3 {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 180px;
  color: white;
  text-align: center;
}

.projects {
  margin-top: 100px;
}
.Projetos {
  text-align: center;
  font-size: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projetos a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.projetos h2 {
  font-size: 40px;
  margin-bottom: 70px;
  color: black;
}

.projetos h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: black;
}

.cards-projetos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cards-projetos img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.card1,
.card2,
.card3,
.card4 {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 20px;
  width: 400px;
  height: auto;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card1 a,
.card2 a,
.card3 a,
.card4 a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.card1 a:hover,
.card2 a:hover,
.card3 a:hover,
.card4 a:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}

.descrição-card1,
.descrição-card2,
.descrição-card3,
.descrição-card4 {
  height: auto;
  text-align: center;
  padding: 20px;
}
.descrição-card1 p,
.descrição-card2 p,
.descrição-card3 p,
.descrição-card4 p {
  font-size: 15px;
  margin-bottom: 20px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  transform: translateY(-10px);
}
/* Quando o mouse estiver sobre o container de projetos... */
.cards-projetos:hover .card1,
.cards-projetos:hover .card2,
.cards-projetos:hover .card3,
.cards-projetos:hover .card4 {
  opacity: 0.6; /* Diminui a opacidade para dar destaque */
  transition: 0.4s; /* Transição suave */
}

/* ...exceto o card que o mouse está exatamente em cima */
.cards-projetos .card1:hover,
.cards-projetos .card2:hover,
.cards-projetos .card3:hover,
.cards-projetos .card4:hover {
  filter: blur(0); /* Remove o embaçado do selecionado */
  opacity: 1; /* Volta a opacidade total */
  transform: scale(1.05); /* Dá um leve zoom para destacar */
}
.tags {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.html,
.CSS,
.JavaScript {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 30px;
}

.area-contato {
  padding: 80px;
  border-radius: 10px;
  margin-top: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  max-width: auto;
  max-height: auto;
}
.contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.comunicação h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: white;
}
.comunicação p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.comunicação {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.area-contato form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.area-contato label {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 14px;
}

.area-contato input,
.area-contato textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
}

.area-contato input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%;
}

.area-contato input[type="submit"]:hover {
  background-color: white;
  border: 2px black solid;
  color: black;
}

.area-contato ::placeholder {
  font-size: 12px;
}
.footer img {
  width: 150px;
  height: 100px;
  margin-top: 20px;
}
footer {
  background-color: white;
  color: black;
}
.footer {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 20px;
  margin-top: 50px;
  margin-right: 80px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  gap: 20px;
}
.footer ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.footer ul li a:hover {
  color: #253fb3;
}
.footer p {
  margin-top: 50px;
  font-size: 14px;
}
/* Media Queries para Responsividade */
@media (max-width: 768px) {
  body {
    text-align: center;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    height: auto;
  }

  .logo img {
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0;
  }

  header nav ul {
    gap: 15px;
    padding: 30px;
    margin: auto;
    width: auto;
  }

  header nav ul li a {
    font-size: 16px;
    margin-right: 0px;
    margin-top: 0;
  }

  .introducao h1 {
    font-size: 36px;
  }

  .introducao h3 {
    font-size: 20px;
  }

  .top-section {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .foto-perfil {
    margin-left: 0;
    width: 200px;
  }

  .sobre-mim {
    padding: 20px;
    font-size: 15px;
  }

  .sobre-mim h2 {
    font-size: 30px;
    padding: 50px;
    margin-bottom: 80px;
  }

  .texto-e-imagem {
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
  }
  .texto p {
    font-size: 16px;
  }
  .foto-sobremim {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .imagens-experiencia {
    gap: 20px;
  }

  .img1,
  .img2,
  .img3 {
    width: 250px;
    height: 150px;
  }

  .cards-projetos {
    flex-direction: column;
    gap: 10px;
  }

  .card1,
  .card2,
  .card3 {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
  }

  .skills h3 {
    margin-top: 50px;
    font-size: 25px;
  }

  .area-contato {
    padding: 20px;
    margin-top: 20px;
    width: auto;
    height: auto;
  }
  .area-contato input,
  .area-contato textarea {
    width: fit-content;
  }
  .comunicação p {
    max-width: 300px;
  }
  .comunicação h2 {
    font-size: 28px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 350px;
    margin-right: 0px;
    padding: 0px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
  }
  .footer img {
    width: 200px;
    height: 100px;

    align-items: center;
    justify-content: center;
  }
  .footer ul {
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer p {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
